/* Vatiables */

:root {
    --bs-blue: #037BC0;
    --bs-green: #8CBC00;
    --hover-green: #769c02;
    --bs-white:#fff;
}
/* Globales */

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}


h1, h2, h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 3.8rem;
}

@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
}

h2 {
    font-size: 3.2rem;
}

@media (min-width: 768px) {
    h2 {
        font-size: 4rem;
    }
}

h3 {
    font-size: 2.4rem;
}

@media (min-width: 768px) {
    h3 {
        font-size: 3rem;
    }
}

/* nav */

.nav-principal a:hover {
    color: var(--bs-blue)!important;
}

/* Reescribir colores */

.text-primary,
.nombre-sitio {
    color: var(--bs-blue)!important;
}

.btn-success {
    background-color: var(--bs-green)!important;
    transition: background-color .3s ease-out;
}

.btn:hover {
    background-color: var(--hover-green)!important;
    cursor: pointer;
}

.bg-primary {
    background-color: var(--bs-blue)!important;
}

.hero {
    background-image: url(../img/principal.jpg);
    height: 25rem;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

@media (min-width: 768px) {
    .hero {
        height: 55rem;
    }
}

/* Productos */



@media (min-width: 768px) {
    .producto img {
        height: 43rem;
        width: 100%;
        object-fit: cover;
    }
}

/* Sobre nosotros */ 
.about-container {
    background-image: linear-gradient(to top, transparent 50%, var(--bs-blue) 50%, var(--bs-blue) 100%), url(../img/nosotros.jpg);
    background-position: center, top center;
    background-repeat: no-repeat;
    background-size: 100%, 120rem;
    height: 50rem;
}

@media (min-width: 576px) {
    
    .about-container {
        background-image: linear-gradient(to left, transparent 50%, var(--bs-blue) 50%, var(--bs-blue) 100%), url(../img/nosotros.jpg);
        padding: 10rem 0;
        background-position: right center;
        background-size: 100%, 80rem;
    }
}

/* Categoria */
.categoria img {
    transition: transform .3s;
}

.categoria img:hover {
    transform: scale(1.2);
}
.categoria a:hover {
    background-color: var(--bs-blue);
    color: var(--bs-white)!important;
    border-bottom-right-radius: 1rem;
}